<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.mobileappbuilder.storesreview20160225105920" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAFV-c0x_D6UUFpJUHu93gwy85CF165IlQ"/>
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.StoresDSItemFormActivity"
            android:label="@string/storesDSItemFormActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.Ghost_SightingsMain"
            android:label="@string/ghostSightingsMain"
            android:theme="@style/AppTheme.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      </activity>
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.GhostSightingsActivity"
            android:label="@string/ghostSightingsActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.GhostSightingsDetailActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.ReviewsActivity"
            android:label="@string/reviewsActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.ReviewsDetailActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.storesreview20160225105920.ui.RankingActivity"
            android:label="@string/rankingActivity"
        />
        <activity android:name="com.worklight.wlclient.ui.UIActivity"/>
    </application>

</manifest>
